{% extends "base.html" %}

{%block content%}
<!-- Intro -->
<div id="intro">
    <h1>réserver votre place !</h1>
    <p>Un parcours clair du premier contact avec l’eau jusqu’aux premières nages.</p>
    <ul class="actions">
        <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
    </ul>
</div>

<!-- Header -->
<header id="header">
    <a href="{{ url_for('main.index') }}" class="logo">Natation Pour Tous</a>
</header>

<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li><a href="{{ url_for('main.index') }}">Acceuil</a></li>
        <li><a href="{{ url_for('main.program') }}">Programmes</a></li>
        <li class="active"><a href="{{ url_for('main.contact') }}">Contact</a></li>
    </ul>
    <ul class="icons">
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-whatsapp"><span class="label">Whatsapp</span></a></li>
    </ul>
</nav>

<!-- Main -->
<div id="main">
    <ul>
        <h2>informations pratiques</h2>
        <li>Chaque cours dure 30 à 45 minutes, selon l’âge et le niveau de l’enfant. La fréquence recommandée est de 1 à 2 séances par semaine pour assurer une progression régulière et confortable.</li>
        <li>Les cours se déroulent dans la piscine du <a href="leclub.tn">club de gammarth</a>, ou directement dans votre piscine si vous en disposez. Toutes les piscines sont sécurisées et adaptées aux enfants.</li>
        <li>Merci de signaler à l’avance toute condition médicale, allergie ou besoin particulier afin d’adapter le cours en toute sécurité.</li>
        <li>Bonnet et lunettes de piscine obligatoires - Matériel pédagogique fourni (planches, frites, jeux aquatiques), </li>
        <li>Pour les cours donnés au sein du club, l’achat d’un carnet de tickets de cours privés auprès du club est nécessaire. Pour les cours en dehors du club, merci de me contacter directement pour un tarif personnalisé.</li>
    </ul>
</div>

<div id="main">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Informations</li>
        <li>Preferences</li>
        <li>Plus d'info</li>
    </ul>

    <!-- multistep form -->
    <form id="msform">
        <div class="row gtr-uniform">
            <div class="col-12">
                <!-- fieldsets -->
                <fieldset class="row gtr-uniform">
                    <div class="col-12">
                        <h2>Informations sur l'enfant</h2>
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <label for="nom_enfant">Nom de l'enfant</label>
                        <input type="text" name="nom_enfant" id="nom_enfant" value="" placeholder="Nom de l'enfant" />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <label for="age_enfant">Age de l'enfant</label>
                        <input type="number" name="age_enfant" id="age_enfant" value="" placeholder="Âge de l'enfant" />
                    </div>
                    <div class="col-12">
                        <label for="nom_parent">Nom du parent</label>
                        <input type="text" name="nom_parent" id="nom_parent" value="" placeholder="Nom du parent" />
                    </div>
                    <div class="col-12">
                        <label for="conditions_medicales">Conditions médicales</label>
                        <textarea name="conditions_medicales" id="conditions_medicales" placeholder="Conditions médicales / Allergies" rows="2"></textarea>
                    </div>
                    <div class="col-12">
                        <ul class="actions stacked">
                            <li><button type="button" class="next button primary fit">suivant</button></li>
                        </ul>
                    </div>
                </fieldset>
                
                <fieldset class="row gtr-uniform">
                    <div class="col-12">
                        <h2>Préférences</h2>
                    </div>
                    <div class="col-12">
                        <label for="schedule">Horaires</label>
                        <textarea name="schedule" id="schedule" placeholder="Indiquez vos disponibilités" rows="2"></textarea>
                    </div>
                    <div class="col-12">
                        <label for="objectifs">Objectifs en natation</label>
                        <textarea name="objectifs" id="objectifs" placeholder="Ex. apprendre les bases, prendre confiance, améliorer la technique, préparer un test" rows="3"></textarea>
                    </div>
                    <div class="col-12">
                        <label for="location">Lieu</label>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="club-gammarth" name="location" checked>
                        <label for="club-gammarth">Le Club</label>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="a-domicile" name="location">
                        <label for="a-domicile">À domicile</label>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="autre" name="location">
                        <label for="autre">Autre</label>
                    </div>
                    <div class="col-6">
                        <ul class="actions stacked">
                            <li><button type="button" class="previous button fit">Précédent</button></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="actions stacked">
                            <li><button type="button" class="next button primary fit">Suivant</button></li>
                        </ul>
                    </div>
                </fieldset>
                
                <fieldset class="row gtr-uniform">
                    <div class="col-12">
                        <h2>renseignements complémentaires</h2>
                    </div>
                    <div class="col-12">
                        <textarea name="more_info" id="more_info" placeholder="ex. demandes particulières, cours pour frères/sœurs, etc" rows="3"></textarea>
                    </div>
                    <div class="col-6">
                        <ul class="actions stacked">
                            <li><button type="button" class="previous button fit">Précédent</button></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="actions stacked">
                            <li><button type="submit" class="button primary fit">Submit</button></li>
                        </ul>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</div>
{%endblock%}

{%block scripts%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="{{ url_for('static', filename='assets/js/form.js') }}"></script>
{%endblock%}